{% extends "base.html" %}

{% block title %} Change password {% endblock %}

{% block content %}

<h2>Change password</h2>
<form method="POST" action="">

    <label for="old_password">old password</label>
    <div>
        <input type="password" placeholder="Enter Password" id="old_password" name="old_password" required>
    </div>

    <label for="new_password">new password</label>
    <div>
        <input type="password" placeholder="Enter Password" id="new_password" name="new_password1" required>
    </div>

    <label for="new_password2">repeat new password</label>
    <div>
        <input type="password" placeholder="Enter Password" id="new_password2" name="new_password2" required>
    </div>

    {% csrf_token %}
    <div>
        <button type="submit">Submit</button>
    </div>
</form>

{% endblock %}
