<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %} {% endblock %}</title>
    </head>
    <body>
        <header>
            <h1>My dictionary</h1>
            <nav>
                <ul>
                    <li><a href="{% url 'index' %}">
                        Home
                    </a></li>
                    <li class="tm-nav-item {% if page == 'words_list' %} active {% endif %}"><a href="{% url 'words_list' %}" class="tm-nav-link">
                        Words list
                    </a></li>
                    <li class="tm-nav-item {% if page == 'word_list' %} active {% endif %}"><a href="{% url 'add_word' %}" class="tm-nav-link">
                        Add word
                    </a></li>
                </ul>
            </nav>
        </header>

    {% block content %}

    {% endblock %}
        <footer>
            <hr>
            <div>
                Copyright 2024 My dictionary Company Co. Ltd.
            </div>
        </footer>
    </body>
</html>